@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an ASP.NET Core MVC Movie application.</p>
    <a asp-controller="Movies" asp-action="Index" class="btn btn-primary">Go to Movie App</a>
</div>
